.point {
  position: relative;
  width: 10px;
  height: 10px;
  top: 3px;
  border-radius: 50%;
  background-color: orange;
  z-index: 1000;
  cursor: pointer;
}

.mapboxgl-canvas-container {
  height: 100%;
}

.draw .mapboxgl-canvas-container.mapboxgl-interactive, .mapboxgl-ctrl-group > button.mapboxgl-ctrl-compass {
  cursor: crosshair!important;
}

.text {
  font-size: 6px;
  transform: translate(-10px);
  position: absolute;
}